<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Aperion.cc Portal</title>
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/scripts.js" defer></script>
</head>
<body>
  <div class="container">
    <h1>🌑 Aperion.cc</h1>
    <p>Choose your adventure:</p>
    <div class="links">
      <a href="/car-tracker" class="link-button">🚗 Car Tracker</a>
      <a href="/wizard" class="link-button">🧙‍♂️ Cavern of Evil: 2055</a>
    </div>
  </div>
</body>
</html>
